<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tidalsolutions.phillife.phillife">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera2" />
    <uses-permission android:name="android.permission.CAMERA2" />
    <uses-feature android:name="android.hardware.camera.autofocus" />


    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="24" />

    <application
        android:label="Teacher\'s Journal"
        android:allowBackup="true"
        android:icon="@mipmap/logo_teacher"
        android:supportsRtl="true"
        tools:node="replace"
        android:theme="@style/AppTheme">
        <activity android:name="com.tidalsolutions.phillife.MainActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.tidalsolutions.phillife.master_activities.Community_Detailed_View"
            android:theme="@style/Theme.AppCompat"
            android:screenOrientation="portrait"/>

        <activity android:name="com.tidalsolutions.phillife.SplashScreen" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity   android:theme="@style/Theme.AppCompat" android:name="com.tidalsolutions.phillife.master_activities.Agents_My_Reports_Drafts" android:screenOrientation="portrait">

        </activity>

        <activity   android:theme="@style/Theme.AppCompat" android:name="com.tidalsolutions.phillife.master_activities.Agents_Add_Pictures" android:screenOrientation="portrait">

        </activity>

        <activity   android:theme="@style/Theme.AppCompat" android:name="com.tidalsolutions.phillife.master_activities.Agents_Form_New" android:screenOrientation="portrait">

        </activity>

        <activity   android:theme="@style/Theme.AppCompat" android:name="com.tidalsolutions.phillife.master_activities.Agents_Form_View_Reports" android:screenOrientation="portrait">

        </activity>

        <activity   android:theme="@style/Theme.AppCompat.Light.NoActionBar" android:name="com.tidalsolutions.phillife.master_activities.Agents_Take_Pictures" android:screenOrientation="portrait">

        </activity>

        <activity   android:theme="@style/Theme.AppCompat.Light.NoActionBar" android:name="com.tidalsolutions.phillife.master_activities.Agents_Retake_Pictures" android:screenOrientation="portrait">

        </activity>

        <activity   android:theme="@style/Theme.AppCompat" android:name="com.tidalsolutions.phillife.master_activities.Community_Add_Post_View" android:screenOrientation="portrait">

        </activity>

        <activity   android:theme="@style/Theme.AppCompat" android:name="com.tidalsolutions.phillife.master_activities.Agents_Form_Update" android:screenOrientation="portrait">

        </activity>

        <activity   android:theme="@style/Theme.AppCompat" android:name="com.tidalsolutions.phillife.master_activities.Agents_Form_Update_Mailbox" android:screenOrientation="portrait">

        </activity>

        <activity   android:theme="@style/Theme.AppCompat" android:name="com.tidalsolutions.phillife.master_activities.Agents_My_Reports_Search_Drafts" android:screenOrientation="portrait">

        </activity>

        <activity   android:theme="@style/Theme.AppCompat" android:name="com.tidalsolutions.phillife.master_activities.Teacher_Create_Account" android:screenOrientation="portrait">

        </activity>

        <activity   android:theme="@style/Theme.AppCompat" android:name="com.tidalsolutions.phillife.master_activities.Teachers_Upload_Image_View" android:screenOrientation="portrait">

        </activity>
        <activity   android:theme="@style/Theme.AppCompat" android:name="com.tidalsolutions.phillife.master_activities.Community_Update_Post_View" android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="com.tidalsolutions.phillife.Community" android:screenOrientation="portrait"/>
        <activity
            android:name="com.tidalsolutions.phillife.master_activities.Announcement_Navigation"
            android:largeHeap="true"
            android:logo="@mipmap/logo_teachers_journal"
            android:theme="@style/Theme.AppCompat"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.tidalsolutions.phillife.master_activities.Portal_Navigation"
            android:largeHeap="true"
            android:logo="@mipmap/logo_teachers_journal"
            android:theme="@style/Theme.AppCompat"
            android:screenOrientation="portrait"/>
        <activity android:name="com.tidalsolutions.phillife.Comment" android:screenOrientation="portrait"/>
        <activity android:name="com.tidalsolutions.phillife.CommunityDetails" android:screenOrientation="portrait"/>
        <activity android:name="com.tidalsolutions.phillife.AnnouncementDetails" android:screenOrientation="portrait"/>
    </application>

</manifest>
